@charset "UTF-8";

*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image:radial-gradient(circle at center, #c7be46, #9e9737);
}

header{
    width:100%;
    height:75px;
    background-image:linear-gradient(to bottom, white, #EEE);
    text-align:center;
    font-variant:small-caps;
    font-size:3em;
}

main{
    width:80vw;
    max-width:728px;
    padding:5%;
    margin:20px auto;
    background-color:#FFF;
    border-radius:15px;
}

input[type="button"]{
    background-color:#555;
    color:#FFF;
    border:2px solid #333;
    padding:5px 10px;
    font-size:1.1em;
}

input[type="button"]:hover{
    cursor:pointer;
    background-color:#EEE;
    color:#333;
}

fieldset{
    padding:3%;
    border:1px dashed #333;
    margin-bottom:20px;
    text-align:center;
}

legend{
    background-color:#DDD;
    color:#333;
    padding:10px;
    font-size:1.4em;
    font-variant: small-caps;
    font-weight: bold;
}

table{
    border:1px solid #333;
    border-collapse: collapse;
    margin:20px auto;
}

table > tr > td{
    border:1px solid #333;
    padding:6px;
    font-weight:bold;
}

table tr:nth-child(odd){
    background-color:#DDD;
}